<h1>Spinner.index</h1>

Id: {{id}}<br>
Name: {{firstName}} {{lastName}}<br>

<h2>Your Shifts</h2>

Shift count: {{spinnerShifts.length}}
<ul>
  {{#each spinnerShifts}}
    <li>Date: {{date}}, Business: {{business.name}}</li>
  {{/each}}
</ul>
