
<div class="content-padded">
  <h3>Happening Now</h3>
  {{#each shift in controllers.spinner.liveShifts}}
    {{render "spinner-live-shift" shift}}
  {{else}}
    <p>No shifts right now.</p>
  {{/each}}

  <h3>Happening Soon</h3>
  {{#each controllers.spinner.nearFutureShifts}}
    <p>Start: {{startDateAndTime}}, End: {{endDateAndTime}}, State: {{state}}, Spinner: {{#if spinner}}{{spinner.firstName}} {{spinner.lastName}}{{else}}(no spinner yet){{/if}}</p>
  {{else}}
    <p>No shifts soon.</p>
  {{/each}}

  <h3>Other Shifts</h3>
  {{#each controllers.spinner.upcomingShifts}}
    <p>Start: {{startDateAndTime}}, End: {{endDateAndTime}}, State: {{state}}, Spinner: {{#if spinner}}{{spinner.firstName}} {{spinner.lastName}}{{else}}(no spinner yet){{/if}}</p>
  {{else}}
    <p>No other shifts scheduled.</p>
  {{/each}}
</div>
