<h1>Find Work</h1>

<p>Work for spinner: {{controllers.spinner.model.firstName}}</p> {{! TODO: find out why I have to use controllers.spinner.model.firstName here, instead of just controllers.spinner.firstName}}

<h2>Available Shifts</h2>

<ul>
  {{#each}}
    <li><button {{action 'signupForSpinnerShift' this}}>Take Shift</button> Start: {{startDateAndTime}}, End: {{endDateAndTime}}, Spinner: {{#if spinner}}{{spinner.firstName}} {{spinner.lastName}}{{else}}(no spinner yet){{/if}}</li>
  {{/each}}
</ul>
