<div class="content-padded">
  {{#if availableShifts.length}}
    <h3>Shifts Available</h3>
    <ul class="table-view">
      {{#each spinnerShift in availableShifts}}
        <li class="table-view-cell">
          {{format-day-of-month spinnerShift.startDateAndTime}}
          <p>{{format-shift-time-of-day spinnerShift}}</p>
          <p>{{spinnerShift.business.name}} 
            {{#with spinnerShift.business}}
              {{google-maps-link name address}}
            {{/with}}
          </p>
          <button class="btn btn-positive" {{bind-attr disabled=areTakeShiftButtonsDisabled}} {{action 'signupForSpinnerShift' spinnerShift}}>Take Shift</button>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <h3>No Shifts Available</h3>
    <p>Check back soon!</p>
  {{/if}}
</div>
