<div class="content-padded">
  <h3>Shifts Available</h3>
  {{#each spinnerShift in availableShifts}}
    <li>
      <button {{bind-attr disabled=areTakeShiftButtonsDisabled}} {{action 'signupForSpinnerShift' spinnerShift}}>
      {{#with spinnerShift}}
        Take Shift</button> Start: {{startDateAndTime}}, End: {{endDateAndTime}}, State: {{state}}, Spinner: {{#if spinner}}{{spinner.firstName}} {{spinner.lastName}}{{else}}(no spinner yet){{/if}}
      {{/with}}
    </li>
  {{else}}
  <p>No shifts available. Check back soon!</p>
  {{/each}}
</div>
