<h2>Book Spinner</h2>

new shift id: {{id}}<br>
new shift start date: {{startDateAndTime}}<br>
new shift end date: {{endDateAndTime}}<br>

{{eui-calendar selectAction='setSpinnerShiftDate' showNextMonth=false allowMultiple=false selectionBinding='soonestBookingDateAsMoment' maxPastDateBinding='soonestBookingDateAsMoment' maxFutureDateBinding='latestBookingDateAsMoment'}}<br><br>

{{view Ember.Select content=shiftStartTimesOfDayStrings}}


<br>
Earliest shift start: {{earliestShiftStartTimeOfDayAsMoment}}<br>
Latest shift end: {{latestShiftEndTimeOfDayAsMoment}}<br>
Latest shirt start: {{latestShiftStartTimeOfDayAsMoment}}<br>
Start times: {{shiftStartTimesOfDayAsMoments}}<br>
End times: {{shiftEndTimesOfDayAsMoments}}<br>
{{eui-button label='Book Spinner' style='primary' size='large' action='saveSpinnerShift' icon='fa fa-check'}}
