<h2>Book Spinner</h2>

new shift id: {{id}}<br>
new shift date: {{date}}<br>

{{eui-calendar selectAction='setSpinnerShiftDate' showNextMonth=false allowMultiple=false selectionBinding='soonestBookingDateAsMoment' maxPastDateBinding='soonestBookingDateAsMoment' maxFutureDateBinding='latestBookingDateAsMoment'}}<br>


<br>
Earliest shift start: {{earliestShiftStartTimeOfDayAsMoment}}<br>
Latest shift end: {{latestShiftEndTimeOfDayAsMoment}}<br>
Latest shirt start: {{latestShiftStartTimeOfDayAsMoment}}<br>
Start times: {{shiftStartTimesOfDayAsMoments}}<br>
{{eui-button label='Book Spinner' style='primary' size='large' action='saveSpinnerShift' icon='fa fa-check'}}
