
<div class="content-padded">
  <h3>Book Spinner</h3>
  Date {{view Ember.Select content=bookingDatesStruct
                      optionValuePath="content.dateAsMoment"
                      optionLabelPath="content.dateAsString"
                      value=selectedDateAsMoment}}
  <br>
  Start time {{view Ember.Select content=shiftStartTimesOfDayStruct
                      optionValuePath="content.timeAsMoment"
                      optionLabelPath="content.timeAsString"
                      value=selectedStartTimeOfDayAsMoment}}
  <br>
  End time {{view Ember.Select content=shiftEndTimesOfDayStruct
                      optionValuePath="content.timeAsMoment"
                      optionLabelPath="content.timeAsString"
                      value=selectedEndTimeOfDayAsMoment}}
  <br>
  <button class="fa fa-check btn-large btn btn-primary" {{bind-attr disabled=bookSpinnerButtonIsDisabled}} {{action 'createSpinnerShift'}}>Book Spinner</button>
  <p><br>Note: Shifts with less than {{shiftCanMatchDeadlineMinutesDisplay}}' notice will never find a spinner.</p>
</div>
