<h2>business.index</h2>

{{id}}<br>
{{name}}<br>
{{address}}<br>

<h2>Shifts</h2>

Shift count: {{spinnerShifts.length}}
<ul>
  {{#each spinnerShifts}}
    <li>Start: {{startDateAndTime}}, End: {{endDateAndTime}}, Spinner: {{#if spinner}}{{spinner.firstName}} {{spinner.lastName}}{{else}}(no spinner yet){{/if}}</li>
  {{/each}}
</ul>
