<h2>business.index</h2>

{{id}}<br>
{{name}}<br>
{{address}}<br>

{{#each shift in controllers.business.liveShifts}}
  {{render "business-live-shift" shift}}
{{/each}}

<h2>Debug</h2>

<h3>Shifts</h3>

Shift count: {{spinnerShifts.length}}
<ul>
  {{#each spinnerShifts}}
    <li>Start: {{startDateAndTime}}, End: {{endDateAndTime}}, State: {{state}}, Spinner: {{#if spinner}}{{spinner.firstName}} {{spinner.lastName}}{{else}}(no spinner yet){{/if}}</li>
  {{/each}}
</ul>

<h3>Live shifts</h3>

Live count: {{controllers.business.liveShifts.length}}

<ul>
  {{#each controllers.business.liveShifts}}
    <li>Start: {{startDateAndTime}}, End: {{endDateAndTime}}, State: {{state}}, Spinner: {{#if spinner}}{{spinner.firstName}} {{spinner.lastName}}{{else}}(no spinner yet){{/if}}</li>
  {{/each}}
</ul>

<h3>PostLive shifts</h3>

PostLive count: {{controllers.business.postLiveShifts.length}}

<ul>
  {{#each shift in controllers.business.postLiveShifts}}
    <li>
      Start: {{shift.startDateAndTime}}, End: {{shift.endDateAndTime}}, State: {{shift.state}}, Spinner: {{#if shift.spinner}}{{shift.spinner.firstName}} {{shift.spinner.lastName}}{{else}}(no spinner yet){{/if}}<br>
      How did it go? {{eui-button action='setShiftSpinnerRating' size='small' spinnerShift=shift spinnerRating=1 icon='fa fa-star'}}{{eui-button action='setShiftSpinnerRating' size='small' spinnerShift=shift spinnerRating=2 icon='fa fa-star'}}{{eui-button action='setShiftSpinnerRating' size='small' spinnerShift=shift spinnerRating=3 icon='fa fa-star'}}{{eui-button action='setShiftSpinnerRating' size='small' spinnerShift=shift spinnerRating=4 icon='fa fa-star'}}{{eui-button action='setShiftSpinnerRating' size='small' spinnerShift=shift spinnerRating=5 icon='fa fa-star'}}
    </li>
  {{/each}}
</ul>

<h3>Upcoming shifts</h3>

Upcoming count: {{controllers.business.upcomingShifts.length}}

<ul>
  {{#each controllers.business.upcomingShifts}}
    <li>Start: {{startDateAndTime}}, End: {{endDateAndTime}}, State: {{state}}, Spinner: {{#if spinner}}{{spinner.firstName}} {{spinner.lastName}}{{else}}(no spinner yet){{/if}}</li>
  {{/each}}
</ul>

<h3>Completed shifts</h3>

Completed count: {{controllers.business.completedShifts.length}}

<ul>
  {{#each controllers.business.completedShifts}}
    <li>Start: {{startDateAndTime}}, End: {{endDateAndTime}}, State: {{state}}, Spinner: {{#if spinner}}{{spinner.firstName}} {{spinner.lastName}}{{else}}(no spinner yet){{/if}}, SpinnerRating: {{spinnerRating}}</li>
  {{/each}}
</ul>

<h3>Unmatched shifts</h3>

Unmatched count: {{controllers.business.unmatchedShifts.length}}

<ul>
  {{#each shift in controllers.business.unmatchedShifts}}
    <li>
      Start: {{shift.startDateAndTime}}, End: {{shift.endDateAndTime}}, State: {{shift.state}}, Spinner: {{#if shift.spinner}}{{shift.spinner.firstName}} {{shift.spinner.lastName}}{{else}}(no spinner yet){{/if}}
      {{eui-button action='cancelSpinnerShift' size='small' spinnerShift=shift label='Cancel'}}
    </li>
  {{/each}}
</ul>

<h3>Matched shifts</h3>

Matched count: {{controllers.business.matchedShifts.length}}

<ul>
  {{#each controllers.business.matchedShifts}}
    <li>Start: {{startDateAndTime}}, End: {{endDateAndTime}}, State: {{state}}, Spinner: {{#if spinner}}{{spinner.firstName}} {{spinner.lastName}}{{else}}(no spinner yet){{/if}}</li>
  {{/each}}
</ul>

<h3>Cancelled shifts</h3>

Cancelled count: {{controllers.business.cancelledShifts.length}}

<ul>
  {{#each controllers.business.cancelledShifts}}
    <li>Start: {{startDateAndTime}}, End: {{endDateAndTime}}, State: {{state}}, Spinner: {{#if spinner}}{{spinner.firstName}} {{spinner.lastName}}{{else}}(no spinner yet){{/if}}</li>
  {{/each}}
</ul>

<h3>Errored shifts</h3>

Errored count: {{controllers.business.erroredShifts.length}}

<ul>
  {{#each controllers.business.erroredShifts}}
    <li>Start: {{startDateAndTime}}, End: {{endDateAndTime}}, State: {{state}}, Spinner: {{#if spinner}}{{spinner.firstName}} {{spinner.lastName}}{{else}}(no spinner yet){{/if}}</li>
  {{/each}}
</ul>

<h3>Clock</h3>

Seconds: {{controllers.business.clock.eachSecond}}<br>
Minutes: {{controllers.business.clock.eachMinute}}<br>
Hours: {{controllers.business.clock.eachHour}}<br>
