

<div class="content-padded">
  {{#if controllers.business.liveShifts.length}}
    <h3>Happening Now</h3>
    <ul class="table-view">
      {{#each shift in controllers.business.liveShifts}}
        {{render "business-live-shift" shift}}
      {{/each}}
    </ul>
  {{/if}}

  {{#if controllers.business.postLiveShifts.length}}
    <h3>Needs Rating</h3>
    <ul class="table-view">
      {{#each controllers.business.postLiveShifts}}
        {{partial "business-postlive-shift"}}
      {{/each}}
    </ul>
  {{/if}}

  {{#if controllers.business.nearFutureShifts.length}}
    <h3>Happening Soon</h3>
    <ul class="table-view">
      {{#each controllers.business.nearFutureShifts}}
        {{partial "business-nonlive-shift"}}
      {{/each}}
    </ul>
  {{/if}}

  {{#if controllers.business.upcomingShifts.length}}
    <h3>Upcoming Shifts</h3>
    <ul class="table-view">
      {{#each controllers.business.upcomingShifts}}
        {{partial "business-nonlive-shift"}}
      {{/each}}
    </ul>
  {{/if}}

  {{#if controllers.business.noMatchFoundShifts.length}}
    <h3>No Spinner Found</h3>
    <p>We weren't able to find a spinner in time for your shift. Sorry about that!</p>
    <ul class="table-view">
      {{#each controllers.business.noMatchFoundShifts}}
        {{partial "business-no-match-found-shift"}}
      {{/each}}
    </ul>
  {{/if}}

    {{#if controllers.business.availableShifts.length}}
    <h3>Finding a Spinner</h3>
    <ul class="table-view">
      {{#each controllers.business.availableShifts}}
        {{partial "business-available-shift"}}
      {{/each}}
    </ul>
  {{/if}}

  {{#unless controllers.business.liveShifts.length}}
    {{#unless controllers.business.nearFutureShifts.length}}
      {{#unless controllers.business.upcomingShifts.length}}
        {{#unless controllers.business.availableShifts.length}}
          <h3>You have no upcoming shifts!</h3>
          {{#link-to 'business.book-spinner'}}
            <button class="btn btn-primary">Book Spinner</button>
          {{/link-to}}
        {{/unless}}
      {{/unless}}
    {{/unless}}
  {{/unless}}

  {{#if isDemoButton}}
    <br><br>
    {{#link-to 'demo'}}<button class="btn btn-primary">Demo</button>{{/link-to}}
  {{/if}}
</div>
