
<div class="content-padded">
  <ul class="table-view">
    <li class="table-view-divider">Name</li>
    <li class="table-view-cell">{{name}}</li>
    <li class="table-view-divider">Address</li>
    <li class="table-view-cell">{{address}}</li>
    <li class="table-view-divider">Email</li>
    <li class="table-view-cell">{{auth.email}}</li>
    <li class="table-view-divider">Phone</li>
    <li class="table-view-cell">{{phone}}</li>
  </ul>

  <button {{action 'logout'}} class="btn btn-negative">Log Out</button>
</div>
