{{#if auth.businessId}}
  {{partial "business-nav-bar"}}
{{else}}
  {{#if auth.spinnerId}}
    {{partial "spinner-nav-bar"}}
  {{/if}}
{{/if}}



<div class="content">
  <a href="/"><button>Reload</button></a><br>
  {{#if auth.isAuthenticated}}
    auth.isAuthenticated: {{auth.isAuthenticated}}<br>
    Logged in as {{auth.email}} with uid {{auth.uid}}, business: {{auth.businessId}}, spinner: {{auth.spinnerId}}
    <button {{action 'logout'}}>Log out</button><br>
  {{/if}}
  {{#link-to 'index'}}<button>Index</button>{{/link-to}}
  {{#link-to 'business' "larry's-giant-subs"}}<button>Larry's Homepage</button>{{/link-to}}
  {{#link-to 'business' "cricket-wireless"}}<button>Cricket's Homepage</button>{{/link-to}}
  {{#link-to 'spinner' "toby"}}<button>Toby's Homepage</button>{{/link-to}}
  {{#link-to 'spinner' "ryan-berckmans"}}<button>Ryan's Homepage</button>{{/link-to}}

  {{outlet}}
</div>
