
{{! expects to be wrapped in a <ul class="table-view"> }}
<li class="table-view-cell">
  {{format-day-of-month startDateAndTime}}
  <p>{{format-shift-time-of-day this}}</p>
  <p>Spinner: {{spinner.firstName}}</p>
  {{#if spinnerRating}}
    <p>Rated {{spinner.firstName}}: {{spinnerRating}} of 5 stars</p>
  {{else}}
    How did it go?<br>
    <span class="rating">
      {{! These rating numbers appear 'backward' - ie 5-star is first and 1-star last - because they are reversed in css }}
      <span class="star"><i {{action 'setShiftSpinnerRating' this 5}}>&#xf006;</i></span>
      <span class="star"><i {{action 'setShiftSpinnerRating' this 4}}>&#xf006;</i></span>
      <span class="star"><i {{action 'setShiftSpinnerRating' this 3}}>&#xf006;</i></span>
      <span class="star"><i {{action 'setShiftSpinnerRating' this 2}}>&#xf006;</i></span>
      <span class="star"><i {{action 'setShiftSpinnerRating' this 1}}>&#xf006;</i></span>
    </span>
  {{/if}}
</li>
