<h1>BUSINESS</h1>

{{id}}<br>
{{name}}<br>
{{address}}<br>

<h2>Shifts</h2>
<ul>
  {{#each spinnerShifts}}
    <li>Duration: {{durationInMinutes}}, Spinner: {{spinner.firstName}} {{spinner.lastName}}</li>
  {{/each}}
</ul>
