<h1>BUSINESS</h1>

{{id}}<br>
{{name}}<br>
{{address}}<br>

{{#link-to 'book-spinner' id}}Book Spinner{{/link-to}}<br>
{{#link-to 'spinner' 'ryan-berckmans'}}Ryan{{/link-to}}<br>

<h2>Shifts</h2>

Shift count: {{spinnerShifts.length}}
<ul>
  {{#each spinnerShifts}}
    <li>Date: {{date}} Spinner: {{#if spinner}}{{spinner.firstName}} {{spinner.lastName}}{{else}}(no spinner yet){{/if}}</li>
  {{/each}}
</ul>
