
{{! expects to be wrapped in a <ul class="table-view"> }}
<li class="table-view-cell">
  {{format-day-of-month startDateAndTime}}
  <p>{{format-shift-time-of-day this}}</p>
  <p>Spinner: {{spinner.firstName}}</p>
  {{#if spinnerRating}}
    <p>Rated {{spinner.firstName}}: {{spinnerRating}} of 5 stars</p>
  {{/if}}
</li>  
