
<div class="content">
  <div class="content-padded">
    <h3><img class="title-image" src="/assets/images/favicon.50x50.png" height="16" width="16" alt=""/>SignSpout</h3>
    <p>Hire Sign Spinners in the Jacksonville Southside</p>
    <form>
      <p class="error-message">
        {{#if loginErrorMessage}}
          {{loginErrorMessage}}
        {{else}}
          <br>
        {{/if}}
      </p>
      <label for="email">Email</label>
      {{view Ember.TextField valueBinding="loginEmail" placeholder="Login or Email"}}
      <label for="password">Password</label>
      {{view Ember.TextField valueBinding="loginPassword" placeholder="Password" type='password'}}
      <button class="btn btn-block btn-primary" {{bind-attr disabled=isLoginButtonDisabled}} {{action 'login' controller}}>Login</button>
    </form>
    <h3>Debug</h3>
    <button {{action 'loginRyan'}}>Login Ryan</button>
    <button {{action 'loginToby'}}>Login Toby</button><br>
    <button {{action 'loginLarry'}}>Login Larrys</button>
    <button {{action 'loginCricket'}}>Login Cricket</button>
    <button {{action 'loginDemo'}}>Login Demo</button>
  </div>
</div>
