
<div class="live-shift">
  Today {{startDateAndTimeDisplay}}-{{endDateAndTimeDisplay}} - LIVE NOW<br>
  Customer: {{business.name}}<br>
  Address: TBD map links using a helper {{business.address}}<br>
  <div class="debug" style="display: none;">
    <p>
      <h4>Debug</h4>
      breakStart: {{breakStartDateAndTime}}<br>
      breakEnd:  {{breakEndDateAndTime}}<br>
      lunchStart: {{lunchStartDateAndTime}}<br>
      lunchEnd:  {{lunchEndDateAndTime}}<br>
      tooEarlyForBreak: {{tooEarlyForBreak}}<br>
      canTakeBreak: {{canTakeBreak}}<br>
      onLunchAndBreakDisabled: {{onLunchAndBreakDisabled}}<br>
      onBreak: {{onBreak}}<br>
      breakDone: {{breakDone}}<br>
      shiftLengthMinutes: {{shiftLengthMinutes}}<br>
      breakLengthMinutes: {{breakLengthMinutes}}<br>
      shiftMinutesElapsed: {{shiftMinutesElapsed}}<br>
      shiftHasLunch: {{shiftHasLunch}}<br>
      tooEarlyForLunch: {{tooEarlyForLunch}}<br>
      canTakeLunch: {{canTakeLunch}}<br>
      onBreakAndLunchDisabled: {{onBreakAndLunchDisabled}}<br>
      onLunch: {{onLunch}}<br>
      lunchDone: {{lunchDone}}<br>
    </p>
  </div>
  <div class="live-shift-break">
    {{#if tooEarlyForBreak}}
      {{breakLengthMinutes}}m break available after first hour
    {{/if}}
    {{#if onLunchAndBreakDisabled}}
      {{breakLengthMinutes}}m break available after lunch
    {{/if}}
    {{#if canTakeBreak}}
      {{eui-button action='startBreak' style='primary' size='medium' label='Go on Break'}}
    {{/if}}
    {{#if onBreak}}
      On break! Back at {{breakEndDateAndTimeDisplay}}
    {{/if}}
    {{#if breakDone}}
      Your break was over at {{breakEndDateAndTimeDisplay}}
    {{/if}}
    <br>
  </div>
  {{#if shiftHasLunch}}
    <div class="live-shift-lunch">
      {{#if tooEarlyForLunch}}
        {{lunchLengthMinutes}}m lunch available after two hours
      {{/if}}
      {{#if onBreakAndLunchDisabled}}
        {{lunchLengthMinutes}}m lunch available after break
      {{/if}}
      {{#if canTakeLunch}}
        {{eui-button action='startLunch' style='primary' size='medium' label='Go on Lunch'}}
      {{/if}}
      {{#if onLunch}}
        On lunch! Back at {{lunchEndDateAndTimeDisplay}}
      {{/if}}
      {{#if lunchDone}}
        Lunch done
      {{/if}}
      <br>
    </div>
  {{/if}}
  Working this shift right now!<br>
  <div class=".restroom-notice">
    Restroom at any time, drop by {{business.name}}.
  </div>
</div>
