
{{! expects to be wrapped in a <ul class="table-view"> }}
<li class="table-view-cell">
  {{format-day-of-month startDateAndTime}}
  <p>{{format-shift-time-of-day this}}</p>
  <p>{{business.name}} 
     {{#with business}}
      {{google-maps-link name address}}
     {{/with}}
  </p>
  {{#if spinnerRating}}
    <p>My rating: {{spinnerRating}} of 5 stars</p>
  {{/if}}
</li>  
