
{{! expects to be wrapped in a <ul class="table-view"> }}
<li class="table-view-cell">
  {{format-shift-time-of-day this}}
  <p>Today - LIVE NOW</p>
  <p>{{business.name}} 
     {{#with business}}
      {{google-maps-link name address}}
     {{/with}}
  </p>
  <div class="debug" style="display: none;">
    <p>
      <h4>Debug</h4>
      breakStart: {{breakStartDateAndTime}}<br>
      breakEnd:  {{breakEndDateAndTime}}<br>
      lunchStart: {{lunchStartDateAndTime}}<br>
      lunchEnd:  {{lunchEndDateAndTime}}<br>
      tooEarlyForBreak: {{tooEarlyForBreak}}<br>
      canTakeBreak: {{canTakeBreak}}<br>
      onBreak: {{onBreak}}<br>
      breakDone: {{breakDone}}<br>
      shiftLengthMinutes: {{shiftLengthMinutes}}<br>
      breakLengthMinutes: {{breakLengthMinutes}}<br>
      shiftMinutesElapsed: {{shiftMinutesElapsed}}<br>
      shiftHasLunch: {{shiftHasLunch}}<br>
      tooEarlyForLunch: {{tooEarlyForLunch}}<br>
      canTakeLunch: {{canTakeLunch}}<br>
      lunchDisabledUntilBreakDone: {{lunchDisabledUntilBreakDone}}<br>
      onLunch: {{onLunch}}<br>
      lunchDone: {{lunchDone}}<br>
    </p>
  </div>
  <p>
    {{#if tooEarlyForBreak}}
      {{breakLengthMinutes}}m break available after first hour
    {{/if}}
    {{#if canTakeBreak}}
      <button class='btn btn-primary' {{action 'startBreak'}}>Go on Break</button>
    {{/if}}
    {{#if onBreak}}
      <span style="font-weight: bold;">ON BREAK!</span> Back at {{format-time-of-day breakEndDateAndTime}}
    {{/if}}
    {{#if breakDone}}
      Break was over at {{format-time-of-day breakEndDateAndTime}}
    {{/if}}
  </p>
  {{#if shiftHasLunch}}
    <p>
      {{#if tooEarlyForLunch}}
        {{lunchLengthMinutes}}m lunch available after two hours
      {{/if}}
      {{#if lunchDisabledUntilBreakDone}}
        {{lunchLengthMinutes}}m lunch available after break
      {{/if}}
      {{#if canTakeLunch}}
        <button class='btn btn-primary' {{action 'startLunch'}}>Go on Lunch</button>
      {{/if}}
      {{#if onLunch}}
        <span style="font-weight: bold;">ON LUNCH!</span> Back at {{format-time-of-day lunchEndDateAndTime}}
      {{/if}}
      {{#if lunchDone}}
        Lunch was over at {{format-time-of-day lunchEndDateAndTime}}
      {{/if}}
    </p>
  {{/if}}
  <p class="restroom-notice">Restroom at any time, drop by {{business.name}}.</p>
</li>
